p To get the difference in milliseconds, use 
  code moment.fn.diff
  |  like you would use 
  code moment.fn.from
  | .
pre var a = moment([2007, 0, 29]);\n
  | var b = moment([2007, 0, 28]);
  | a.diff(b) // 86400000
p To get the difference in another unit of measurement, pass that measurement as the second argument.
pre var a = moment([2007, 0, 29]);\n
  | var b = moment([2007, 0, 28]);
  | a.diff(b, 'days') // 1
p The supported measurements are 
  code "years", "months", "weeks", "days", "hours", "minutes", and "seconds"
p By default, 
  code moment.fn.diff
  | will return a rounded number. If you want the floating point number, pass 
  code true
  |  as the third argument.
pre var a = moment([2007, 0]);\n
  | var b = moment([2008, 5]);
  | a.diff(b, 'years')       // 1
  | a.diff(b, 'years', true) // 1.5
p Units of measurement other than milliseconds are available in version 
  span.label 1.1.1
p If the moment is later than the moment you are passing to 
  code moment.fn.diff
  | , the return value will be negative.
pre
  | var a = moment();
  | var b = moment().add('seconds', 1);
  | a.diff(b) // -1000
  | b.diff(a) // 1000
p A easy way to think of this is by replacing 
  code .diff(
  |  with a minus operator.
pre
  |           // a < b
  | a.diff(b) // a - b < 0
  | b.diff(a) // b - a > 0