p Another common way of displaying time, sometimes called timeago, is handled by 
  code moment.fn.from
  | .
pre var a = moment([2007, 0, 29]);\n
  | var b = moment([2007, 0, 28]);
  | a.from(b) // "a day ago"
p The first parameter is anything you can pass to 
  code moment()
  | or a Moment.js object.
pre var a = moment([2007, 0, 29]);\n
  | var b = moment([2007, 0, 28]);
  | a.from(b);                     // "a day ago"
  | a.from([2007, 0, 28]);         // "a day ago"
  | a.from(new Date(2007, 0, 28)); // "a day ago"
  | a.from("1-28-2007");           // "a day ago"
p NOTE: Because it only accepts one parameter to pass in the date info, 
  | if you need to use String + Format or String + Formats, you should create a Moment.js 
  | object first and then call 
  code moment.fn.from
pre var a = moment();\n
  | var b = moment("10-10-1900", "MM-DD-YYYY");
  | a.from(b);
p If you pass 
  code true
  | as the second parameter, you can get the value without the suffix. This is useful wherever you need to have a human readable length of time.
pre var start = moment([2007, 0, 5]);\n
  | var end = moment([2007, 0, 10]);
  | start.from(end);       // "in 5 days"
  | start.from(end, true); // "5 days"
p The base strings are customized by 
  code moment.lang
  | or by modifying the values directly using 
  code moment.relativeTime
  | .
p The breakdown of which string is displayed when is outlined in the table below.
table.table.table-striped.table-bordered
  thead
    tr
      th Range
      th Key
      th Sample Output
  tbody
    tr
      td 0 to 45 seconds
      td s
      td seconds ago
    tr
      td 45 to 90 seconds
      td m
      td a minute ago
    tr
      td 90 seconds to 45 minutes
      td mm
      td 2 minutes ago ... 45 minutes ago
    tr
      td 45 to 90 minutes
      td h
      td an hour ago
    tr
      td 90 minutes to 22 hours 
      td hh
      td 2 hours ago ... 22 hours ago
    tr
      td 22 to 36 hours
      td d
      td a day ago
    tr
      td 36 hours to 25 days
      td dd
      td 2 days ago ... 25 days ago
    tr
      td 25 to 45 days
      td M
      td a month ago
    tr
      td 45 to 345 days
      td MM
      td 2 months ago ... 11 months ago
    tr
      td 345 to 547 days (1.5 years)
      td y
      td a year ago
    tr
      td 548 days+
      td yy
      td 2 years ago ... 20 years ago