p
  code moment.fn.isLeapYear
  |  returns true if that year is a leap year, and false if it is not.
pre moment([2000]).isLeapYear() // true\n
  | moment([2001]).isLeapYear() // false
  | moment([2100]).isLeapYear() // false