p To get the native Date object that Moment.js wraps, use 
  code moment.fn.toDate
  | .
pre moment([2007, 0, 29]).toDate(); // returns native Date object
p Note: 
  code moment.fn.native
  |  has been replaced by 
  code moment.fn.toDate
  |  and has been deprecated as of
  span.label 1.6.0
  | .