p This is a pretty robust function for adding time to an existing date. 
  | To add time, pass the key of what time you want to add, and the amount you want to add.
pre moment().add('days', 7);
p There are some shorthand keys as well if you're into that whole brevity thing.
pre moment().add('d', 7);
table.table.table-striped.table-bordered
  tbody
    tr
      th Key
      th Shorthand
    tr
      td years
      td y
    tr
      td months
      td M
    tr
      td weeks
      td w
    tr
      td days
      td d
    tr
      td hours
      td h
    tr
      td minutes
      td m
    tr
      td seconds
      td s
    tr
      td milliseconds
      td ms
p If you want to add multiple different keys at the same time, you can pass them in as an object literal.
pre moment().add('days', 7).add('months', 1); // with chaining \n
  | moment().add({days:7,months:1}); // with object literal
p There are no upper limits for the amounts, so you can overload any of the parameters.
pre moment().add('milliseconds', 1000000); // a million milliseconds \n
  | moment().add('days', 360); // 360 days
h4 Special considerations for months and years
p If the day of the month on the original date is greater than the number of days in the final month, 
  | the day of the month will change to the last day in the final month.
p Example:
pre moment([2010, 0, 31]);                  // January 31 \n
  | moment([2010, 0, 31]).add('months', 1); // February 28
p There are also special considerations to keep in mind when adding time that crosses over Daylight Savings Time.
  | If you are adding years, months, weeks, or days, the original hour will always match the added hour.
pre var m = moment(new Date(2011, 2, 12, 5, 0, 0)); // the day before DST in the US\n
  | m.hours(); // 5
  | m.add('days', 1).hours(); // 5
p If you are adding hours, minutes, seconds, or milliseconds, the assumption is that you want precision to the hour, and will result in a different hour.
pre var m = moment(new Date(2011, 2, 12, 5, 0, 0)); // the day before DST in the US\n
  | m.hours(); // 5
  | m.add('hours', 24).hours(); // 6