p Mutates the original moment by changing the day of the month.
p Accepts numbers from 1 to 31
pre moment().date(5); // set the date to 5
p NOTE:
  code moment.fn.date
  |  is used to set the date of the month, and
  code moment.fn.day
  |  is used to set the day of the week.
