pre moment().day(5); // set the day of the week to Friday
p This method can be used to set the day of the week, Sunday being 0 and Saturday being 6.
p 
  code moment.fn.day
  |  can also be overloaded to set to a weekday of the previous week, next week, or a week any distance from the moment.
pre moment().day(-7); // set to last Sunday (0 - 7) \n
  | moment().day(7); // set to next Sunday (0 + 7)
  | moment().day(10); // set to next Wednesday (3 + 7)
  | moment().day(24); // set to 3 Wednesdays from now (3 + 7 + 7 + 7)