p Set the moment to the end of a unit of time.
p This is similar to 
  code moment.fn.startOf
  |  only it sets to the end instead of the start.
pre moment().endOf("year"); // set the moment to 12-31 11:59:59.999 pm this year