p Set the time to the end of the day.
pre moment().eod(); // set the time to 11:59:59.999 pm tonight
p This is essentially the same as the following.
pre moment().hours(23).minutes(59).seconds(59).milliseconds(999);