p Mutates the original moment by changing the milliseconds.
p There are a number of shortcut getter and setter functions.
  | Much like in jQuery, calling the function without paremeters causes it to function as a getter,
  | and calling with a parameter causes it to function as a setter.
p These map to the corresponding function on the native
  code Date
  | object.
pre
  | moment().milliseconds(30) === new Date().setMilliseconds(30);
  | moment().milliseconds()   === new Date().getMilliseconds();
p If you are in UTC mode, they will map to the UTC equivalent.
pre
  | moment.utc().milliseconds(30) === new Date().setUTCMilliseconds(30);
  | moment.utc().milliseconds()   === new Date().getUTCMilliseconds();
p Accepts numbers from 0 to 999
