p Set the time to the start of the day.
pre moment().sod(); // set the time to last midnight
p This is essentially the same as the following.
pre moment().hours(0).minutes(0).seconds(0).milliseconds(0);