---
isMoment : true
repo     : moment
layout   : base.hbs
---

<header>
	<div class="circle">
		<div class="face">
			<div id="hour"></div>
			<div id="minute"></div>
			<div id="second"></div>
		</div>
	</div>
	<div class="title">
		<div class="title-inset">
			<h1>Moment.js<span>{{ size.moment_version }}</span></h1>
			<h2>{{intro}}</h2>
		</div>
	</div>
</header>


<aside>
	<div class="download section">
		<a class="button source" href="/downloads/moment-with-langs.js">
			<strong>moment-with-langs.js</strong>
		</a><a class="button gzipped" href="/downloads/moment-with-langs.min.js">
			<strong>moment-with-langs.min.js</strong>
			<span class="filesize">{{toKb size.moment_with_langs_min.gzip }}</span>
			<span class="zipped">gz</span>
		</a><a class="button gzipped" href="/downloads/moment.min.js">
			<strong>moment.min.js</strong>
			<span class="filesize">{{toKb size.moment_min.gzip }}</span>
			<span class="zipped">gz</span>
		</a>
	</div>
	<div class="section">
		<pre class="shell"><code>bower install -S momentjs</code></pre>
		<pre class="shell"><code>npm install --save moment</code></pre>
		<pre class="pm"><code>Install-Package Moment.js</code></pre>
	</div>
</aside>

{{>body}}