p If you need to work with date ranges, you can use Gianni Chiappetta's plugin 
  code moment-range
  |  .
p Documentation can be found on the homepage 
  a(href="http://gf3.github.com/moment-range/") gf3.github.com/moment-range
  |  .
p It is available on npm.
pre npm install moment-range
p And it is also available for the web at the repository below.
p The repository is located at 
  a(href="https://github.com/gf3/moment-range") https://github.com/gf3/moment-range
