p If you are more comfortable working with strftime instead of LDML-like parsing tokens, you can use Ben Oakes' plugin 
  code moment-strftime
  |  .
p It is available on npm.
pre npm install moment-strftime
p The repository is located at 
  a(href="https://github.com/benjaminoakes/moment-strftime") github.com/benjaminoakes/moment-strftime