extends html

block styles
  link(rel="stylesheet", href="css/style.css?_=" + builddate)
  title Moment.js - A lightweight javascript date library

block scripts
  script(src="js/home.min.js?_=" + builddate)

block content
  .row


    .span8
      .hero-unit
        h1 Moment.js
        h2 A lightweight (
          span= minsize
          | ) javascript date library for parsing, manipulating, and formatting dates.


    #download-btns.span4
      h3 Get the current version 
        span.label.lebel-info= version
      pre npm install moment
      p
        a.btn.btn-success.btn-large(href="https://raw.github.com/timrwood/moment/" + version + "/moment.min.js") 
          strong Production 
          span.filesize= '(' + minsize + ' min &amp; gzip)'
      p
        a.btn(href="https://raw.github.com/timrwood/moment/" + version + "/moment.js") 
          strong Development 
          span.filesize= '(full ' + srcsize + ' source)'

  .row
    .span6
      h3 Formatting dates
      pre moment().format('dddd, MMMM Do YYYY, h:mm:ss a');\n
        | moment().format('dddd [on the] wo [week of the year]');
        | moment().format("MMM Do 'YY");
        | moment().format(); // defaults to ISO-8601
      #js-format-now.alert.alert-info


      h3 Timeago
      pre moment("2011-10-31", "YYYY-MM-DD").fromNow();
      #js-from-now.alert.alert-info


    .span6
      h3 Calendar Time
      pre moment().subtract('days', 3).calendar();
      #js-add.alert.alert-info


      h3 Internationalization
      pre moment.lang('fr');\n
        | moment().format('LLLL');
      #js-lang.alert.alert-info
