extends html

block styles
  link(rel="stylesheet", href="../css/style.css?_=" + builddate)
  title Moment.js Unit Test Suite

block scripts
  script(src="../js/moment.js?_=" + builddate)
  script
    var require = function(){
        return moment;
    }
    var exports = {};
  script(src="../js/langs.js?_=" + builddate)
  script(src="../js/tests.js?_=" + builddate)

block content
  #test
    h1#nodeunit-header Moment.js unit test suite
    h2#nodeunit-banner &nbsp;
    p#nodeunit-userAgent
    ol#nodeunit-tests
