.map {
	margin: 0 auto;
	max-width: 1024px;
	padding: 40px;
}

.map-wrap {
	background: $color-moment-timezone url(../img/bg.png);
	padding: 1px;
	border-radius: 3px;
	position: relative;
}

.map-label {
	line-height: 60px;
	font-size: 24px;
	margin: 0;
	color: $color-moment-timezone;
	font-family: monospace;

	span {
		display: block;
	}

	.map-label-name {
		float: left;
		width: 50%;
		padding-right: 10px;
		text-align: right;
	}

	.map-label-time {
		margin-left: 50%;
		padding-left: 10px;
		text-align: left;
	}
}

.map-inset {
	padding-bottom: 50%;
	background: url(../img/world.png) 50% 50%;
	background-size: cover;
	position: relative;
	border-radius: 2px;

	span {
		width: 6px;
		height: 6px;
		margin: -3px 0 0 -3px;
		background: #fff;
		position: absolute;
		border-radius: 3px;
		border: 1px solid $color-moment-timezone;

		&.active {
			background: $color-moment-timezone;
		}
	}

	.map-axis-x {
		position: absolute;
		top: 0;
		bottom: 0;
		border-left: 1px solid rgba($color-moment-timezone, 0.5);
		width: 0;
		transition: left 50ms ease-out;
	}

	.map-axis-y {
		position: absolute;
		left: 0;
		right: 0;
		border-top: 1px solid rgba($color-moment-timezone, 0.5);
		height: 0;
		transition: top 50ms ease-out;
	}
}