.langs {
	margin-bottom: 20px;

	h2 {
		padding: 0 0 20px;
		margin: 0;
	}

	.button {
		display: inline-block;
		padding: 5px 10px;
		margin: 4px 2px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #999;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 0 5px rgba(0, 0, 0, .2);
		}

		&.active {
			background: #333;
			color: #ccc;
			border-color: #000;
		}
	}
}

.examples {
	article {
		overflow: hidden;

		.input {
			float: left;
			width: 370px;

			pre {
				border-radius: 5px 0 0 5px;
			}
		}

		.output {
			margin-left: 370px;

			pre {
				border-radius: 0 5px 5px 0;
				color: #ccc;
				position: relative;
				border-left: 0;
				background: url(../img/header.png);
			}
		}

		h2 {
			padding: 0 0 20px;
			margin: 0;
		}

		@include size(desktop) {
			pre {
				font-size: 13px;
			}
		}

		@include size(tablet) {
			margin-right: 0;

			pre {
				font-size: 12px;
			}

			.input {
				width: 320px;
			}

			.output {
				margin-left: 320px;
			}
		}

		@include size(mobile) {
			margin-right: 0;

			.input {
				float: none;
				width: 100%;

				pre {
					border-radius: 5px;
					margin: 0 0 10px;
				}
			}

			.output {
				margin-left: 0;

				pre {
					border-left-width: 1px;
					border-radius: 5px;
				}
			}
		}
	}
}
