.docs {
	article {
		position: relative;
		margin: 0 0 20px;

		h2,
		h3 {
			color: rgba(0, 0, 0, 0.8);
			padding: 0;
			margin: 0;
			position: relative;

			a {
				color: rgba(0, 0, 0, 0.8);
				text-decoration: none;

				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}

			span.hash {
				position: absolute;
				top: 0;
				right: 100%;
				display: block;
			}

			span {
				color: rgba(0, 0, 0, 0.2);
			}
		}

		h2 {
			font-size: 50px;
		}

		h3 {
			padding: 20px 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			font-size: 30px;
			margin: 0;

			span.hash {
				top: 20px;
			}
		}

		p {
			margin: 0 0 10px;
		}

		&.method {
			border-radius: 3px;
			position: relative;
		}

		.prose {
			pre {
				padding: 5px 10px;
			}
		}

		table {
			width: 100%;
			margin-bottom: 20px;
		}

		td,
		th {
			padding: 7px 10px;
			border-top: 1px solid #ddd;
			background: #fff;
			text-align: left;
		}

		tr:nth-child(odd) td,
		tr:nth-child(odd) th {
			background: #f8f8f8;
		}

		.target {
			position: relative;
			display: block;
			top: -110px;
		}

		@include size(wide) {
			margin-left: 100px;
			margin-right: 100px;
		}
	}

	ol {
		counter-reset: li -1;
		list-style: none;
		padding-left: 15px;
		> li:before {
			content: counter(li) " ";
			counter-increment: li;
			font-weight: bold;
		}
	}
}
