.docs-nav {
	@include source_sans_pro;
	position: fixed;
	top: 150px;
	bottom: 0;
	left: 0;
	max-width: 300px;
	width: 25%;
	padding: 20px;
	text-align: right;
	overflow-y: auto;

	.active a {
		.is-moment & {
			border-right-color: rgba($color-moment, 0.3);
		}

		.is-moment-timezone & {
			border-right-color: rgba($color-moment-timezone, 0.3);
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-size: 14px;
		line-height: 18px;
		border-right: 2px solid transparent;

		&.active {
			.is-moment & {
				background: rgba($color-moment, 0.1);
				border-right-color: $color-moment;
			}

			.is-moment-timezone & {
				background: rgba($color-moment-timezone, 0.1);
				border-right-color: $color-moment-timezone;
			}
		}
	}
}

.docs-nav-item {
	padding: 3px 10px;
}

.docs-nav-section {

	.docs-nav-item {
		display: none;
	}

	&.active {
		.docs-nav-item {
			display: block;
		}

		.is-moment & {
			background: rgba($color-moment, 0.1);
		}

		.is-moment-timezone & {
			background: rgba($color-moment-timezone, 0.1);
		}
	}
}

.docs-nav-section-title {
	text-transform: uppercase;
	padding: 5px 10px;

	.is-moment & {
		color: $color-moment;
	}

	.is-moment-timezone & {
		color: $color-moment-timezone;
	}

	// .active & {
	// 	color: $white;
	//
	// 	.is-moment & {
	// 		background: $color-moment;
	// 	}
	//
	// 	.is-moment-timezone & {
	// 		background: $color-moment-timezone;
	// 	}
	// }
}

.docs-content {
	//margin-left: 25%;
	//padding-left: 20px;
	color: $black;
}

.docs {
	//max-width: 1024px;
	margin: 20px 0 0 25%;
	max-width: 800px;
	//margin: 0 auto;

	article {
		position: relative;
		margin: 0 0 20px;

		h2,
		h3 {
			color: rgba($black, 0.8);
			padding: 0;
			margin: 0;
			position: relative;

			a {
				color: rgba($black, 0.8);
				text-decoration: none;
				vertical-align: baseline;

				&:hover {
					color: $black;
					text-decoration: underline;
				}
			}

			span {
				color: rgba($black, 0.2);
			}

			a:before {
				position: absolute;
				top: 0;
				right: 100%;
				padding-right: 10px;
				display: block;
				color: #fff;
				content: "#";
				padding-right: 5px;
				text-shadow: 0 1px 3px rgba($black, 0.3);
			}
		}

		h2 {
			font-size: 50px;
			text-transform: uppercase;
		}

		h3 {
			padding: 20px 0;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			font-size: 30px;
			margin: 0;

			a:before {
				top: 20px;
			}
		}

		p {
			font-size: 16px;
			margin: 0 0 10px;
		}

		&.method {
			border-radius: 3px;
			position: relative;
		}

		.prose {
			pre {
				padding: 5px 10px;
			}
		}

		table {
			width: 100%;
			margin-bottom: 20px;
		}

		td,
		th {
			padding: 7px 10px;
			border-top: 1px solid #ddd;
			background: #fff;
			text-align: left;
		}

		tr:nth-child(odd) td,
		tr:nth-child(odd) th {
			background: #f8f8f8;
		}

		.target {
			position: relative;
			display: block;
			//top: -110px;
		}
	}

	ol {
		counter-reset: li -1;
		list-style: none;
		padding-left: 15px;
		> li:before {
			content: counter(li) " ";
			counter-increment: li;
			font-weight: bold;
		}
	}
}
