#nodeunit-tests {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0 0 5px;
		background: #fff;
		padding: 5px 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		list-style: none;
		cursor: pointer;
	}

	ul {
		margin: 0;
		padding: 5px 0 0;
	}

	.test {
		ul {
			display: none;
		}

		pre {
			margin: 5px 0;
		}

		&.fail {
			background: #d11;

			.title {
				color: #fff;
			}
		}

		.fail {
			color: #d11;
		}

		&.open {
			ul {
				display: block;
			}
		}
	}
}

#nodeunit-banner {
	&.fail {
		color: #d11;
	}

	h3 {
		font-size: 40px;
		font-weight: 100;
		margin: 0;
		padding: 0;
	}
}
