.zones,
.zones-output {
	.button {
		display: inline-block;
		padding: 2px 5px;
		margin: 2px 1px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #999;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 0 5px rgba(0, 0, 0, .2);
		}

		&.active {
			background: #333;
			color: #ccc;
			border-color: #000;
		}
	}
}

.zones-output {
	width: 50%;
	float: right;
	padding-left: 20px;

	h3 {
		margin-top: 0;
	}

	textarea {
		width: 100%;
		margin-top: 20px;
		display: block;
		border-radius: 3px;
		border: 1px solid #000;
		background: url(../img/header.png);
		color: #ccc;
		padding: 5px 10px;
		min-height: 1200px;
		font-family: Consolas, monaco, monospace;
		font-size: 12px;
		white-space: pre;

		&:focus {
			outline: 0;
		}
	}
}
