$white        : #f5f8f3;
$grey         : #8d9f95;
$black        : #262e2c;

$yellow       : #CFF09E;
$green-yellow : #A8DBA8;
$green        : #79BD9A;
$blue-green   : #3B8686;
$blue         : #0B486B;

$yellow-green : $green-yellow;
$green-blue   : $blue-green;


$color-moment          : #6e9983;
$color-moment-timezone : #7c5287;


$background-color: $white;
$alt-background-color: $black;
$text-color: $grey;
$link-color: $blue;
