body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background: $background-color;
}

* {
	@include box-sizing(border-box);
}

.container {
	padding: 20px;

	@include size(mobile) {
		padding: 10px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

pre, code, kbd, samp {
	font-family: Consolas, monaco, monospace;
}

pre {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	padding: 5px 8px;
	margin: 0 0 20px;
	white-space: pre;
	line-height: 24px;
	background: #fff;
	font-weight: 100;

	a {
		color: #666;
	}

	.keyword,
	.type,
	.symbol,
	.cbracket,
	.date,
	.time,
	.file,
	.variable,
	.difflines,
	.selector,
	.literal,
	.property {
		font-weight: 700;
	}

	.title,
	.params {
		font-style: italic;
	}

	.literal,
	.type {
		color: #A0B1E4;
	}

	.value,
	.string {
		color: #ED7677;
	}

	.number {
		color: #4baa8f;
	}

	.regexp {
		color: #092;
	}

	.comment {
		color: #666;
	}
}

code {
	padding: 1px 4px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
pre code {
	padding: 0;
	background: #fff;
	border-radius: 0;
	box-shadow: none;
}
