header {
	min-height: 300px;
	padding: 190px 0 20px;
	color: #ccc;
	overflow: hidden;

	.watch {
		background: url(../img/header.png);
		height: 80px;
		text-shadow: 1px 1px 0 #000;

		.band {
			margin: -10px 20px -10px 5%;
			float: left;
			width: 300px;
			background: url(../img/header.png);
			border: 5px solid $background-color;
			height: 100px;
		}

		.face {
			width: 260px;
			height: 260px;
			margin: -85px auto 0;
			background: url(../img/header.png);
			border: 5px solid $background-color;
			border-radius: 130px;
			position: relative;

			&:after {
				position: absolute;
				top: 115px;
				left: 115px;
				width: 10px;
				height: 10px;
				background: url(../img/header.png);
				border: 5px solid $background-color;
				border-radius: 10px;
				content: "";
				display: block;
			}

			&:before {
				position: absolute;
				top: 15px;
				left: 15px;
				width: 220px;
				height: 220px;
				background: $background-color;
				border-radius: 115px;
				content: "";
				display: block;
			}
		}

		#hour {
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -5px 0 -5px -70px;
			padding: 5px 0 5px 70px;
			background: #222;
			@include transform-origin(100%, 50%);
		}

		#minute {
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -105px -5px 0;
			padding: 105px 5px 0;
			background: #222;
			@include transform-origin(50%, 100%);
		}

		#second {
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -105px -1px 0 0;
			padding: 105px 1px 0 0;
			background: #222;
			@include transform-origin(50%, 100%);
		}

		h1 {
			line-height: 80px;
			font-size: 60px;
			margin: 0;
			font-weight: 100;
			color: $background-color;

			span {
				font-size: 30px;
				padding: 0 10px;
				color: #666;
			}
		}
	}

	h2 {
		margin: 0 0 0 5%;
		padding: 20px 0 0 320px;
		color: #222;
		min-height: 100px;
	}

	.share {
		position: absolute;
		top: 100px;
		right: 30px;
	}

	aside {
		width: 400px;
		margin: 0 auto;
		padding: 20px 0;

		a {
			display: block;
			width: 200px;
			float: left;
			text-decoration: none;
			text-align: center;
			border-radius: 5px 0 0 5px;
			border: 1px solid #000;
			background: url(../img/header.png);
			color: #ccc;
			padding: 20px 0;

			+ a {
				border-left: 0;
				border-radius: 0 5px 5px 0;
				background: #fff;
				color: #666;
				border: 1px solid #999;
			}

			&:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
			}
		}

		.share {
			height: 60px;
			text-align: center;
		}
	}

	@include size(tablet) {
		.watch {
			height: 60px;

			.band {
				margin: -10px 20px -10px 20px;
				width: 200px;
				height: 80px;
			}

			.face {
				width: 160px;
				height: 160px;
				margin: -45px auto 0;
				border-radius: 130px;

				&:after {
					top: 65px;
					left: 65px;
					width: 10px;
					height: 10px;
					border-radius: 10px;
				}

				&:before {
					top: 15px;
					left: 15px;
					width: 120px;
					height: 120px;
					border-radius: 115px;
				}
			}

			#hour {
				margin: -5px 0 -5px -30px;
				padding: 5px 0 5px 30px;
			}

			#minute {
				margin: -55px -5px 0;
				padding: 55px 5px 0;
			}

			#second {
				margin: -55px -1px 0 0;
				padding: 55px 1px 0 0;
			}

			h1 {
				line-height: 60px;
				font-size: 40px;
			}
		}

		h2 {
			margin: 0;
			padding: 10px 0 0 220px;
			color: #222;
			min-height: 100px;
		}
	}

	@include size(mobile) {
		height: auto;
		min-height: 0px;

		.watch {
			position: relative;
			margin-bottom: 100px;

			.band {
				margin: 0 auto;
				position: relative;
				top: -10px;
				float: none;
			}

			h1 {
				position: absolute;
				top: -180px;
				left: 0;
				right: 0;
				text-align: center;
				color: #222;
				text-shadow: none;
			}
		}

		hgroup {
			float: none;
			width: 100%;
		}

		aside {
			width: auto;
			margin: 0 10px;

			a {
				width: 50%;
			}
		}

		h2 {
			padding: 0;
			margin: 0 20px;
		}

		.share {
			display: none;
		}
	}
}

.is-timezone {
	header {
		.watch {
			.face {
				&:after {
					border: 0;
				}

				&:before {
					background: url(../img/world.png) 50% 50% no-repeat;
					background-size: cover;
				}
			}
		}
	}
}

footer {
	background: url(../img/header.png);
	padding: 40px;
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
}
