header {
	min-height: 300px;
	padding: 190px 0 40px;
	color: #ccc;
	overflow: hidden;

	.watch {
		background: url(../img/header.png);
		height: 80px;
		text-shadow: 1px 1px 0 #000;

		.band {
			margin: -10px 20px -10px 10%;
			float: left;
			width: 300px;
			background: url(../img/header.png);
			border: 5px solid $background-color;
			height: 100px;
		}

		.face {
			width: 260px;
			height: 260px;
			margin: -85px auto 0;
			background: url(../img/header.png);
			border: 5px solid $background-color;
			border-radius: 130px;

			&:after {
				margin: 10px;
				width: 230px;
				height: 230px;
				background: $background-color;
				border-radius: 115px;
				content: "";
				display: block;
			}
		}

		h1 {
			line-height: 80px;
			font-size: 60px;
			margin: 0;
			font-weight: 100;
			color: $background-color;

			span {
				font-size: 30px;
				padding: 0 10px;
				color: #666;
			}
		}
	}


	h2 {
		margin: 0 0 0 10%;
		padding: 20px 0 0 320px;
		color: #222;
		min-height: 100px;
	}

	.share {
		position: absolute;
		top: 75px;
		right: 30px;
	}

	aside {
		width: 400px;
		margin: 0 auto;
		padding: 20px 0;

		a {
			display: block;
			width: 200px;
			float: left;
			text-decoration: none;
			text-align: center;
			border-radius: 5px 0 0 5px;
			border: 1px solid #000;
			background: #222;
			color: #ccc;
			padding: 20px 0;

			+ a {
				border-left: 0;
				border-radius: 0 5px 5px 0;
				background: #fff;
				color: #666;
				border: 1px solid #999;
			}

			&:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
			}
		}

		.share {
			height: 60px;
			text-align: center;
		}
	}

	@include size(tablet) {
		min-height: 0px;

		hgroup {
			width: 50%;
		}

		h1 {
			font-size: 60px;
		}

		aside {
			margin-left: 50%;
		}
	}

	@include size(mobile) {
		height: auto;
		padding: 20px;
		min-height: 0px;

		hgroup {
			float: none;
			width: 100%;
		}

		h1 {
			padding: 0;
			font-size: 60px;
		}

		h2 {
			padding: 0;
		}

		aside {
			margin: 0;
			padding: 0;
		}
	}
}

footer {
	background: url(../img/header.png);
	padding: 40px;
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
}
