.is-timezone .timezone-nav,
.is-core .core-nav,
.is-home .home-nav,
.is-test .test-nav,
.is-docs .docs-nav {
	background: $background-color;
	color: #333;
}

nav.top {
	height: 50px;
	background: url(../img/header.png);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	z-index: 2001;

	a {
		float: left;
		color: #ccc;
		margin: 5px 0 5px 5px;
		line-height: 40px;
		padding: 0 15px;
		text-decoration: none;
		font-size: 16px;
		display: block;

		&.logo {
			margin: 0;
			line-height: 50px;
		}

		&:hover {
			background: $background-color;
			color: #333;
		}
	}

	iframe {
		margin: 14px 0 0 15px;
		float: right;
	}

	@include size(tablet) {
		padding: 0 10px;

		a {
			padding: 0 10px;
		}

		iframe {
			display: none;
		}
	}

	@include size(mobile) {
		height: auto;
		padding: 0;
		position: static;
		overflow: hidden;

		a {
			float: none;
			border: 0;
			margin-bottom: 0;
			line-height: 30px;
			padding: 5px 10px;
			text-decoration: none;
			font-size: 14px;

			&.logo {
				border-bottom: 1px solid #000;
			}

			&.docs,
			&.test,
			&.github,
			&.twitter {
				float: left;
				width: 23%;
				text-align: center;
			}

			&.test,
			&.github,
			&.twitter {
				border: 0;
				border-left: 1px solid #000;
			}

			&.twitter {
				width: 31%;
			}
		}

		iframe {
			display: none;
		}
	}

}

nav.subnav {
	height: 45px;
	background: $background-color;
	color: #333;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	z-index: 2000;
	border-bottom: 5px solid #111;

	@include size(mobile) {
		display: none;
	}

	.section {
		display: inline-block;
		height: 40px;
		line-height: 40px;
		position: relative;

		a {
			padding: 0 5px;
			text-decoration: none;
			border: 1px solid transparent;
			border-width: 0 1px;
			display: block;
			font-size: 14px;
		}

		.dropdown {
			position: absolute;
			top: 41px;
			left: 0;
			background: #fff;
			min-width: 100%;
			border: 1px solid #333;
			border-top: 0;
			display: none;
			@include box-sizing(border-box);

			a {
				padding: 0 10px;
				white-space: nowrap;
				line-height: 30px;
				color: #333;

				&:hover {
					background: #eee;
				}
			}
		}

		&:hover {
			> a {
				border-color: #333;
				padding-bottom: 1px;
				background: #fff;
				color: #333;
			}
			.dropdown {
				display: block;
			}
		}
	}

	@include size(tablet) {
		padding: 0 10px;
		height: auto;

		.section {
			a {
				padding: 0 5px;
				font-size: 14px;
			}
		}
	}
}
