nav.top {
	height: 50px;
	@include grad(#eee, #bbb);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-weight: 200;
	@include box-shadow(0 0 6px rgba(0, 0, 0, .8));
	z-index: 2001;

	a {
		float: left;
		color: #333;
		line-height: 50px;
		padding: 0 15px;
		text-decoration: none;
		font-size: 16px;
		display: block;

		&.logo {
			font-size: 30px;
			font-weight: 100;
		}

		&:hover {
			background: rgba(0, 0, 0, .1);
		}
	}

	iframe {
		margin: 14px 0 0 15px;
	}

	@include size(tablet) {
		padding: 0 10px;

		a {
			padding: 0 10px;
		}

		iframe {
			display: none;
		}
	}

	@include size(mobile) {
		height: auto;
		padding: 0;
		background: #eee;
		position: static;
		overflow: hidden;

		a {
			float: none;
			border: 0;
			margin-bottom: 0;
			background: #ccc;
			line-height: 30px;
			padding: 5px 10px;
			background: #ddd;
			text-decoration: none;
			@include grad(#ddd, #aaa);
			color: #333;
			font-size: 14px;

			&.logo {
				border-bottom: 1px solid #666;
			}

			&.docs,
			&.test,
			&.github,
			&.twitter {
				float: left;
				width: 23%;
				text-align: center;
			}

			&.test,
			&.github,
			&.twitter {
				border: 0;
				border-left: 1px solid #666;
			}

			&.twitter {
				width: 31%;
			}
		}

		iframe {
			display: none;
		}
	}

}

nav.subnav {
	height: 40px;
	@include grad(#bbb, #999);
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-weight: 200;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	@include box-shadow(0 0 6px rgba(0, 0, 0, .8));
	z-index: 2000;

	@include size(mobile) {
		display: none;
	}

	.section {
		float: left;
		height: 40px;
		line-height: 40px;
		position: relative;

		a {
			padding: 0 15px;
			text-decoration: none;
			border: 1px solid transparent;
			border-width: 0 1px;
			display: block;
			font-size: 14px;
		}

		.dropdown {
			position: absolute;
			top: 40px;
			left: 0;
			background: #fff;
			min-width: 100%;
			border: 1px solid #333;
			border-top: 0;
			display: none;
			@include box-sizing(border-box);

			a {
				padding: 0 10px;
				white-space: nowrap;
				line-height: 30px;

				&:hover {
					background: #eee;
				}
			}
		}

		&:hover {
			> a {
				border-color: #333;
				background: #fff;
			}
			.dropdown {
				display: block;
			}
		}
	}

	@include size(tablet) {
		padding: 0 10px;
		height: auto;
		overflow: hidden;

		.section {
			a {
				padding: 0 5px;
				font-size: 14px;
			}
		}
	}
}
