p Instead of modifying the native 
  code Date.prototype
  | , Moment.js creates a wrapper for the 
  code Date
  |  object.
p Note: The Moment.js prototype is exposed through 
  code moment.fn
  | . If you want to add your own functions, that is where you would put them.
p To get this wrapper object, simply call 
  code moment()
  |  with one of the supported input types.