<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet"  href="../css/style.css" />
    <title>Moment.js | {% block title %}{% endblock title %}</title>
    {% comment %}
    block styles
  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand(href="/") Moment.js
          ul.nav
            li
              a(href="/docs/")
                i.icon-book.icon-white
                |  Documentation
            li
              a(href="/test/")
                i.icon-ok.icon-white
                |  Unit Tests
            li.divider-vertical
            li
              a(href="https://twitter.com/momentjs")
                |  Follow @momentjs on twitter
            li.divider-vertical
            li
              iframe(src="http://ghbtns.com/github-btn.html?user=timrwood&repo=moment&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110px", height="20px")



    {% endcomment %}
