{% extends "base.html" %}

{% comment %}

extends html

block styles
  title Moment.js Documentation

block scripts
  script(src="../js/home.min.js")

block content
  .row
    .span8
      .hero-unit
        h1 Moment.js
        h2 Documentation

    #download-btns.span4
      h3 Get the current version
        span.label.lebel-info= version
      pre npm install moment
      p
        a.btn.btn-success.btn-large(href="https://raw.github.com/timrwood/moment/" + version + "/min/moment.min.js")
          i.icon-download-alt.icon-white
          strong  Production
          span.filesize= '(' + minsize + ' min &amp; gzip)'
      p
        a.btn(href="https://raw.github.com/timrwood/moment/" + version + "/moment.js")
          i.icon-download-alt
          strong  Development
          span.filesize= '(full ' + srcsize + ' source)'

  #subnav.subnav.subnav-fixed
    ul.nav.nav-pills
      for section in docs
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            span= section.name
          ul.dropdown-menu
            for method in section.methods
              li
                a(href='#/' + section.machineName + '/' + method.machineName + '/')= method.name

  #docs(data-spy="scroll")
    for section in docs
      .row
        .section-header
          a.target(name='/' + section.machineName + '/')
          h2
            a(href='#/' + section.machineName + '/')= section.name
          div!= section.body
        for method in section.methods
          .row
            .section
              a.target(name='/' + section.machineName + '/' + method.machineName + '/')
              .prose
                h3.doc-row
                  a(href='#/' + section.machineName + '/' + method.machineName + '/')= method.name
                div!= method.body
              .signature
                if (method._version)
                  p= "Available in " + method._version
                if (method._signature)
                  pre= method._signature
{% endcomment %}
