<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ localhost }}/static/css/style.css?v={{ cachebust }}" />
		<title>Moment.js | {% block title %}{% endblock title %}</title>
	</head>
	<body class="{% block body_class %}{% endblock body_class %}">
		<nav class="top">
			<a class="logo core-nav" href="{{ nav('') }}">Moment.js</a>
			<a class="logo timezone-nav" href="{{ nav('/timezone') }}">Moment Timezone</a>
			{% block nav %}{% endblock nav %}
			{% block github_button %}{% endblock github_button %}
		</nav>
		{% block site_header %}{% endblock site_header %}
		<div class="container">
			{% block content %}{% endblock content %}
		</div>
		<footer>
			<p>Moment.js is freely distributable under the terms of the MIT license.</p>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="{{ localhost }}/static/js/{{ global }}.js?v={{ cachebust }}"></script>
		{% block scripts %}{% endblock scripts %}

		<script>
			window._gaq = [['_setAccount','UA-10641787-5'],['_trackPageview'],['_trackPageLoadTime']];
			(function(d, c) {
				var ga = d.createElement(c); ga.async = true;
				ga.src = "http://www.google-analytics.com/ga.js";
				var s = d.getElementsByTagName(c)[0];
				s.parentNode.insertBefore(ga, s);
			})(document, 'script');
			;(function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src="https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
			})(document,"script","twitter-wjs")
			;(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
	</body>
</html>
