{% extends "base.html" %}

{% block body_class %}is-core{% endblock body_class %}

{% block nav %}
	<a class="home-nav" href="{{ nav('') }}">Home</a>
	<a class="docs-nav" href="{{ nav('/docs') }}">Docs</a>
	<a class="test-nav" href="{{ nav('/test') }}">Tests</a>
{% endblock nav %}

{% block github_button %}
	<iframe src="http://ghbtns.com/github-btn.html?user=moment&repo=moment&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe>
{% endblock github_button %}

{% block site_header %}
<header>
	<div class="circle">
		<div class="face">
			<div id="hour"></div>
			<div id="minute"></div>
			<div id="second"></div>
		</div>
	</div>
	<div class="title">
		<div class="title-inset">
			<h1>Moment.js<span>{{ library.core_version }}</span></h1>
			{% block header %}{% endblock header %}
		</div>
	</div>
</header>
<aside>
	<div class="download section">
                <a class="button source" href="{{ localhost}}/downloads/moment-with-langs.js">
			<strong>moment-with-langs.js</strong>
		</a><a class="button gzipped" href="{{ localhost}}/downloads/moment-with-langs.min.js">
			<strong>moment-with-langs.min.js</strong>
			<span class="filesize">{{ library.bundle_gzipped }}</span>
			<span class="zipped">gz</span>
		</a><a class="button gzipped" href="{{ localhost}}/downloads/moment.min.js">
			<strong>moment.min.js</strong>
			<span class="filesize">{{ library.core_gzipped }}</span>
			<span class="zipped">gz</span>
		</a>
	</div>
	<div class="section">
		<pre class="shell"><code>bower install -S momentjs</code></pre>
		<pre class="shell"><code>npm install --save moment</code></pre>
		<pre class="pm"><code>Install-Package Moment.js</code></pre>
	</div>
</aside>
{% endblock site_header %}
