{% extends "core-base.html" %}

{% block title %}Documentation{% endblock title %}

{% block body_class %}{% parent %} is-docs{% endblock body_class %}

{% block header %}
	<h2>Documentation</h2>
{% endblock header %}

{% block content %}

	<nav class="subnav">
		{% for section in docs %}
			<div class="section">
				<a href='#/{{ section.key }}/'>{{ section.title }}</a>
				<div class="dropdown">
					{% for method in section.methods %}
						<a href="#/{{ section.key }}/{{ method.key }}/">{{ method.title }}</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</nav>

	<div class="docs">
		{% for section in docs %}
			<article class="section">
				<a class="target" name="/{{ section.key }}/"></a>
				<h2><a href='#/{{ section.key }}/'><span class="hash">#</span>{{ section.title }}</a></h2>
				{% autoescape false %}{{ section.body }}{% endautoescape %}
			</article>
			{% for method in section.methods %}
				<article class="method">
					<a class="target" name="/{{ section.key }}/{{ method.key }}/"></a>
					<h3>
						<a href='#/{{ section.key }}/{{ method.key }}/'><span class="hash">#</span>{{ method.title }}</a>
						<span>{{ method.version }}</span>
					</h3>
					<div class="prose">
						{% if method.signature %}
							<pre lang="javascript">{% autoescape false %}{{ method.signature }}{% endautoescape %}</pre>
						{% endif %}
						{% autoescape false %}{{ method.body }}{% endautoescape %}
					</div>
				</article>
			{% endfor %}
		{% endfor %}
	</div>

{% endblock content %}
