{% extends "core-base.html" %}

{% block body_class %}{% parent %} is-home{% endblock body_class %}

{% block title %}Parse, validate, manipulate, and display dates in javascript.{% endblock title %}

{% block header %}
	<h2>
		A {{ library.gzipped }} javascript date library for
		parsing, validating, manipulating, and formatting dates.
	</h2>
{% endblock header %}

{% block scripts %}
	<script src="/static/js/core-home.js?v={{ cachebust }}"></script>
{% endblock scripts %}

{% block content %}
	<div class="examples">
		<article>
			<h2>Formatting dates</h2>
			<div class="input">
				<pre lang="javascript">moment().format('MMMM Do YYYY, h:mm:ss a');
moment().format('dddd');
moment().format("MMM Do YY");
moment().format('YYYY [escaped] YYYY');
moment().format();</pre>
			</div>
			<div class="output">
				<pre id="js-format"></pre>
			</div>
		</article>
	</div>
	<div class="langs">
		<h2>Languages</h2>
		{% for lang in langs %}
			<div class="button {% if loop.key == "en" %}active{% endif %}" data-lang="{{ loop.key }}">
				{{ lang }}
			</div>
		{% endfor %}
	</div>
	<div class="examples">
		<article>
			<h2>Timeago</h2>
			<div class="input">
				<pre lang="javascript">moment("20111031", "YYYYMMDD").fromNow();
moment("20120620", "YYYYMMDD").fromNow();
moment().startOf('day').fromNow();
moment().endOf('day').fromNow();
moment().startOf('hour').fromNow();</pre>
			</div>
			<div class="output">
				<pre id="js-from-now"></pre>
			</div>
		</article>
		<article>
			<h2>Calendar Time</h2>
			<div class="input">
				<pre lang="javascript">moment().subtract('days', 10).calendar();
moment().subtract('days', 6).calendar();
moment().subtract('days', 3).calendar();
moment().subtract('days', 1).calendar();
moment().calendar();
moment().add('days', 1).calendar();
moment().add('days', 3).calendar();
moment().add('days', 10).calendar();</pre>
			</div>
			<div class="output">
				<pre id="js-calendar"></pre>
			</div>
		</article>
		<article>
			<h2>Internationalization</h2>
			<div class="input">
				<pre lang="javascript">moment().format('L');
moment().format('LL');
moment().format('LLL');
moment().format('LLLL');</pre>
			</div>
			<div class="output">
				<pre id="js-lang"></pre>
			</div>
		</article>
	</div>
{% endblock content %}
