{% extends "base.html" %}

{% block title %}Unit Tests{% endblock title %}

{% block scripts %}
	<script src="../js/moment.js"></script>
	<script src="../js/langs.js"></script>
	<script src="../js/tests.js"></script>
{% endblock scripts %}

{% block header %}
	<h2>Unit test suite</h2>
	<p id="nodeunit-userAgent"></p>
{% endblock header %}

{% block header_aside %}
	<div id="nodeunit-banner" class="test-count"></div>
{% endblock header_aside %}

{% block content %}
	<div class="row">
		<div class="span12">
			<ol id="nodeunit-tests"></ol>
		</div>
	</div>
{% endblock content %}
