{% extends "timezone-base.html" %}

{% block body_class %}{% parent %} is-home{% endblock body_class %}

{% block title %}Parse, validate, manipulate, and display dates in javascript.{% endblock title %}

{% block header %}
	<h2>Timezone support for Moment.js</h2>
{% endblock header %}

{% block scripts %}
	<script src="/static/js/timezone-home.js?v={{ cachebust }}"></script>
{% endblock scripts %}

{% block content %}
	<div class="map">
		<div class="map-inset"></div>
		<h3 class="map-label">
			<span class="map-label-name"></span>
			<span class="map-label-time"></span>
		</h3>
	</div>
{% endblock content %}
