{% extends "timezone-base.html" %}

{% block body_class %}{% parent %} is-home{% endblock body_class %}

{% block title %}Parse, validate, manipulate, and display dates in javascript.{% endblock title %}

{% block header %}
	<h2>Timezone support for Moment.js</h2>
{% endblock header %}

{% block content %}
	<div class="map">
		<div class="map-inset">
			<div class="map-popup"></div>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	<script src="/static/js/timezone-home.min.js?v={{ cachebust }}"></script>
{% endblock scripts %}
