{% extends "base.html" %}

{% block body_class %}is-timezone{% endblock body_class %}

{% block title %}Timezone support for Moment.js{% endblock title %}

{% block header %}
	<h2>Timezone support for Moment.js</h2>
{% endblock header %}

{% block nav %}
	<a class="home-nav" href="/timezone/">Home</a>
	<a class="docs-nav" href="/timezone/docs/">Docs</a>
	<a class="data-nav" href="/timezone/data/">Data</a>
	<a class="test-nav" href="/timezone/test/">Tests</a>
{% endblock nav %}

{% block github_button %}
	<iframe src="http://ghbtns.com/github-btn.html?user=moment&repo=moment-timezone&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="180" height="30"></iframe>
{% endblock github_button %}

{% block site_header %}
<header>
	<div class="circle">
		<div class="face">
			<div class="map-thumb">
				<div class="map-thumb-inset"></div>
			</div>
		</div>
	</div>
	<div class="title">
		<div class="title-inset">
			<h1>Moment Timezone<span>{{ library.timezone_version }}</span></h1>
			{% block header %}{% endblock header %}
		</div>
	</div>
</header>
<aside>
	<div class="download">
		<a class="button gzipped" href="https://rawgithub.com/moment/moment-timezone/{{ library.timezone_version }}/min/moment-timezone.min.js">
			<strong>Minified Source</strong>
			<span class="filesize">{{ library.timezone_gzipped }}</span>
		</a>
		<a class="button source" href="https://rawgithub.com/moment/moment-timezone/{{ library.timezone_version }}/moment-timezone.js">
			<strong>Full Source</strong>
			<span class="filesize">{{ library.timezone_size }} </span>
		</a>
	</div>
</aside>
{% endblock site_header %}
