{% extends "timezone-base.html" %}

{% block body_class %}{% parent %} is-home{% endblock body_class %}

{% block title %}Parse, validate, manipulate, and display dates in javascript.{% endblock title %}

{% block header %}
	<h2>Timezone support for Moment.js</h2>
{% endblock header %}

{% block content %}
	<div class="examples">
		<article>
			<h2>Formatting dates</h2>
			<div class="input">
				<pre lang="javascript">moment().tz('<span class="zone-name">America/Los_Angeles</span>').format();</pre>
			</div>
			<div class="output">
				<pre id="js-zone">
				</pre>
			</div>
		</article>
	</div>
	<div class="langs">
		<h2>Timezones</h2>
		{% for zone in zones %}
			<div class="button {% if zone == "America/Los_Angeles" %}active{% endif %}" data-zone="{{ zone }}">
				{{ zone }}
			</div>
		{% endfor %}
	</div>
{% endblock content %}

{% block scripts %}
	<script src="/static/js/timezone-home.min.js?v={{ cachebust }}"></script>
{% endblock scripts %}
