{% extends "timezone-base.html" %}

{% block body_class %}{% parent %} is-data{% endblock body_class %}

{% block scripts %}
	<script src="/static/js/timezone-data.js?v={{ cachebust }}"></script>
{% endblock scripts %}

{% block content %}
	<h2>Timezone Data Builder</h2>
	<div class="zones-output">
		<h3>Output</h3>
		<div class="button active" data-env="browser">Browser</div>
		<div class="button" data-env="json">JSON</div>
		<div class="button" data-env="amd">AMD</div>
		<textarea id="output" wrap="off"></textarea>
	</div>
	<div class="zones">
		{% for group in zones %}
			<h3>{{ loop.key }}</h3>
			<div class="button" data-toggle-group="{{ loop.key }}">All</div>
			{% for zone in group %}
				<div class="button" data-group="{{ zone.group }}" data-zone="{{ zone.id }}">{{ zone.name }}</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock content %}
