---
title   : Guides
layout  : moment-base.hbs
order   : 2
scripts :
    - docs
---

<div class="hero hero-oneline">
	<div class="hero-centered">
		<h1>Moment.js Guides</h1>
	</div>
</div>

{{>guides-partial}}