---
title   : Tests
layout  : moment-base.hbs
order   : 2
scripts :
  - core-test
---

<div class="hero hero-oneline">
	<div class="hero-centered">
		<div id="nodeunit-banner"></div>
		<h1>Moment.js Unit Tests</h1>
	</div>
</div>

<div class="tests">
	<div id="report-wrapper"></div>
	<div id="nodeunit-tests"></div>
</div>