---
title   : Tests
layout  : moment-base.hbs
intro   : Unit Tests
order   : 2
scripts :
  - core-test
---

<div class="hero hero-oneline">
	<h1>Moment.js Unit Tests</h1>
</div>

<div id="nodeunit-banner" class="test pass"></div>
<ol id="nodeunit-tests"></ol>