p
  a.btn.btn-success.btn-large(href="https://raw.github.com/timrwood/moment/" + version + "/moment.min.js") 
    strong Production 
    span.filesize= '(' + minsize + ' min &amp; gzip)'
p
  a.btn(href="https://raw.github.com/timrwood/moment/" + version + "/moment.js") 
    strong Development 
    span.filesize= '(full ' + srcsize + ' source)'
p You can also clone the project with Git by running:
pre git clone git://github.com/timrwood/moment