---
title   : Home
layout  : moment-timezone-base.hbs
order   : 0
scripts :
  - timezone-home
---

<header class="hero hero-moment-timezone">
	<div class="centered">
		<div class="hero-circle">
			<div class="hero-world"></div>
		</div>
		<div class="hero-title">
			<h1>Moment Timezone <span>{{ size.moment_timezone_version }}</span></h1>
			<h2>Parse and display dates in any timezone.</h2>
		</div>
	</div>
</header>

<div class="builds">
	<div class="builds-download">
		<h3>Download</h3>
		<a class="builds-button builds-button-source" href="/downloads/moment-timezone.js">
			moment-timezone.js
		</a>
		<a class="builds-button builds-button-gzipped" href="/downloads/moment-timezone.min.js">
			moment-timezone.min.js
			<span class="filesize">{{toKb size.moment_timezone_min.gzip }}</span>
		</a>

		<a class="builds-button builds-button-source" href="/downloads/moment-timezone-with-data-2010-2020.js">
			moment-timezone-2010-2020.js
		</a>
		<a class="builds-button builds-button-gzipped" href="/downloads/moment-timezone-with-data-2010-2020.min.js">
			moment-timezone-2010-2020.min.js
			<span class="filesize">{{toKb size.moment_timezone_with_data_2010_2020_min.gzip }}</span>
		</a>

		<a class="builds-button builds-button-source" href="/downloads/moment-timezone-with-data.js">
			moment-timezone-all-years.js
		</a>
		<a class="builds-button builds-button-gzipped" href="/downloads/moment-timezone-with-data.min.js">
			moment-timezone-all-years.min.js
			<span class="filesize">{{toKb size.moment_timezone_with_data_min.gzip }}</span>
		</a>
	</div>
	<div class="builds-packages">
		<h3>Install</h3>
		<pre><code>npm install moment-timezone --save</code></pre>
	</div>
</div>

<div class="map">
	<h3 class="map-label">
		<span class="map-label-name"></span>
		<span class="map-label-time"></span>
	</h3>
	<div class="map-wrap">
		<div class="map-inset">
			<div class="map-axis-x"></div>
			<div class="map-axis-y"></div>
		</div>
	</div>

{{#markdown}}
### Format Dates in Any Timezone

```js
var jun = moment("2014-06-01T12:00:00Z");
var dec = moment("2014-12-01T12:00:00Z");

jun.tz('America/Los_Angeles').format('ha z');  // 5am PDT
dec.tz('America/Los_Angeles').format('ha z');  // 4am PST

jun.tz('America/New_York').format('ha z');     // 8am EDT
dec.tz('America/New_York').format('ha z');     // 7am EST

jun.tz('Asia/Tokyo').format('ha z');           // 9pm JST
dec.tz('Asia/Tokyo').format('ha z');           // 9pm JST

jun.tz('Australia/Sydney').format('ha z');     // 10pm EST
dec.tz('Australia/Sydney').format('ha z');     // 11pm EST
```

{{/markdown}}

</div>

