---
title   : Home
layout  : moment-timezone-base.hbs
intro   : A <%= gzip %> javascript date library for parsing, validating, manipulating, and formatting dates.
order   : 0
scripts :
  - timezone-home
---

<h3 class="map-label">
	<span class="map-label-name"></span>
	<span class="map-label-time"></span>
</h3>
<div class="map">
	<div class="map-inset">
		<div class="map-axis-x"></div>
		<div class="map-axis-y"></div>
	</div>
</div>