p You can create a moment with a pre-existing native Javascript Date object.
pre var day = new Date(2011, 9, 16);\n
  | var dayWrapper = moment(day); 
pre var otherDay = moment(new Date(2020, 3, 7));
p This is the fastest way to get a Moment.js wrapper.