p A string that can be parsed by 
  code Date.parse
  | .
pre var day = moment("Dec 25, 1995");
p Browser support for this is somewhat inconsistent. If you are not getting consistent results, you can try using String + Format.