p You can create a moment from a Unix timestamp (seconds since the Unix Epoch) 
  | using 
  code moment.unix(Number)
  | .
pre var day = moment(1318781876);
p
  span.label.label-info Note:
  |  This functions is implemented with (approximately)
  code return moment(timestamp * 1000)
  | , so milliseconds in the input timestamp will be included in the moment.
