p Similar to 
  code new Date(Number)
  | , you can create a moment by passing an integer value representing the number of milliseconds since 1 January 1970 00:00:00 UTC.
pre var day = moment(1318781876406);
p
  span.label.label-info Note:
  |  This is a unix timestamp in milliseconds, not seconds.