p If your language uses 'am/pm', 
  code moment.meridiem
  |  can be ommitted, as those values are the defaults.
p If your language needs any different computation for am/pm, 
  code moment.meridiem
  |  should be a callback function that returns the correct string based on hour, minute, and upper/lowercase.
pre 
  | moment.meridiem = function (hour, minute, isLower) {
  |     if (hour < 9) {
  |         return "早上";
  |     } else if (hour < 11 && minute < 30) {
  |         return "上午";
  |     } else if (hour < 13 && minute < 30) {
  |         return "中午";
  |     } else if (hour < 18) {
  |         return "下午";
  |     } else {
  |         return "晚上";
  |     }
  | };
p
  span.label.label-info Note:
  |  Before version 
  span.label 1.6.0
  | , 
  code moment.meridiem
  |  was a map of upper and lowercase versions of am/pm.
pre moment.meridiem = {\n
  |     am : 'am',
  |     AM : 'AM',
  |     pm : 'pm',
  |     PM : 'PM'
  | };
p This has been deprecated. The 1.6.0 callback function syntax is now used instead.