p
  code moment.monthsShort
  |  should be an array of the month abbreviations.
pre moment.monthsShort = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
p Like 
  code moment.months
  | , 
  code moment.monthsShort
  |  can be a callback function as well.
pre config.monthsShort = function (momentToFormat, format) {
  |     if (/^MMMM/.test(format)) {
  |         return nominative[momentToFormat.month()];
  |     } else {
  |         return subjective[momentToFormat.month()];
  |     }
  | }