p 
  code moment.months
  |  should be an array of the month names.
pre moment.months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];