p
  code moment.weekdaysMin
  |  should be an array of two letter weekday abbreviations. The purpose of these is for things like calendar pickers, thus they should be as small as possible.
pre moment.weekdaysMin = ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"];
p 
  code moment.weekdaysMin
  |  can be a callback function as well.
pre config.weekdaysMin = function (momentToFormat, format) {
  |     return weekdaysMin[momentToFormat.day()];
  | }