p To add your language to Moment.js, submit a pull request with both a language file and a test file. You can find examples in 
  code moment/lang/fr.js
  |  and 
  code moment/test/lang/fr.js
  | .
p To run the tests, do 
  code make test
  | .
p If all the tests pass, submit that pull request, and thank you for contributing!