p If you are changing languages frequently, you may want to know what language is currently being used. This is as simple as calling 
  code moment.lang
  |  without any parameters.
pre
  | moment.lang('en'); // set to english
  | moment.lang(); // returns 'en'
  | moment.lang('fr'); // set to french
  | moment.lang(); // returns 'fr'