p Loading languages in NodeJS is super easy. If there is a language file in 
  code moment/lang/
  |  named after that key, the first call to 
  code moment.lang
  |  will load it.
pre var moment = require('moment');\n
  | moment.lang('fr');
  | moment(1316116057189).fromNow(); // il y a une heure
p If you want your language supported, create a pull request or send me an email with the 
  a(href="#/i18n/adding-language/") required files
  | .