p To get the number of seconds in a duration, use 
  code moment.duration().seconds()
  | .
p It will return a number between 0 and 60.
pre
  | moment.duration(500).seconds(); // 0
  | moment.duration(1500).seconds(); // 1
  | moment.duration(15000).seconds(); // 15
p If you want the length of the duration in seconds, use 
  code moment.duration().asSeconds()
  |  instead.
pre
  | moment.duration(500).asSeconds(); // 0.5
  | moment.duration(1500).asSeconds(); // 1.5
  | moment.duration(15000).asSeconds(); // 15