p As with the other getters for durations, 
  code moment.duration().years()
  |  gets the years.
p
  code moment.duration().asYears()
  |  gets the length of the duration in years.
p
  span.label.label-info Note:
  |  The length of a duration in years is defined as 365 days.